<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bhutanmarket.srvtech">
 
    <!-- Custom permission for protecting notification broadcast receiver -->
    <permission
        android:name="com.bhutanmarket.srvtech.NOTIFICATION_PERMISSION"
        android:protectionLevel="signature" />
    
    <uses-permission android:name="com.bhutanmarket.srvtech.NOTIFICATION_PERMISSION" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />



    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="sms" />
        </intent>
        <!-- If your app checks for call support -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tel" />
        </intent>
        <!-- If your application checks for inAppBrowserView launch mode support -->
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>
    <application
        android:name="${applicationName}"
        android:allowBackup="false"
        android:fullBackupOnly="false"
        android:icon="@mipmap/launcher_icon"
        android:label="Kora"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="false"
        android:networkSecurityConfig="@xml/network_security_config"
        >


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD0ijY8WcVy1Oeek40mpsNCLoYBiXtc1EU" />


        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:theme="@style/LaunchTheme"
            android:showWhenLocked="false"
            android:turnScreenOn="true"
            android:windowSoftInputMode="adjustResize">
            <!--android:turnScreenOn="true"-->
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <meta-data android:name="flutter_deeplinking_enabled" android:value="true" />

            <!-- Custom Scheme Deep Links -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="admin.thebhutanmarket.com"
                    android:scheme="bhutanmarket" />
                <data android:pathPattern="/product-details/.*" />
                <data android:pathPattern="/seller/.*" />
            </intent-filter>

            <!-- Web Deep Links (App Links) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="admin.thebhutanmarket.com" />
                <data android:pathPattern="/product-details/.*" />
                <data android:pathPattern="/seller/.*" />
            </intent-filter>


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        
        <!-- Secure FileProvider for temporary file handling -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->


        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/notification" />


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

        <!-- Protected Broadcast Receiver for Awesome Notifications -->
        <receiver
            android:name="me.carda.awesome_notifications.core.receivers.DartNotificationActionReceiver"
            android:exported="true"
            android:permission="com.bhutanmarket.srvtech.NOTIFICATION_PERMISSION"
            tools:replace="android:permission">
            <intent-filter>
                <action android:name="me.carda.awesome_notifications.NOTIFICATION_ACTION" />
            </intent-filter>
        </receiver>

        <!-- Protected Service for Awesome Notifications -->
        <service
            android:name="me.carda.awesome_notifications.core.managers.StatusBarManager"
            android:exported="true"
            android:permission="com.bhutanmarket.srvtech.NOTIFICATION_PERMISSION"
            tools:replace="android:permission,android:exported" />

        <!-- Protected Broadcast Receiver for Scheduled Notifications -->
        <receiver
            android:name="me.carda.awesome_notifications.core.receivers.DartScheduledNotificationReceiver"
            android:exported="true"
            android:permission="com.bhutanmarket.srvtech.NOTIFICATION_PERMISSION"
            tools:replace="android:permission">
            <intent-filter>
                <action android:name="me.carda.awesome_notifications.SCHEDULED_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <!-- Protected Broadcast Receiver for Refresh Schedules -->
        <receiver
            android:name="me.carda.awesome_notifications.core.receivers.DartRefreshSchedulesReceiver"
            android:exported="true"
            android:permission="com.bhutanmarket.srvtech.NOTIFICATION_PERMISSION"
            tools:replace="android:permission">
            <intent-filter>
                <action android:name="me.carda.awesome_notifications.REFRESH_SCHEDULES" />
            </intent-filter>
        </receiver>

        <!-- Protected Broadcast Receiver for Dismissed Notifications -->
        <receiver
            android:name="me.carda.awesome_notifications.core.receivers.DartDismissedNotificationReceiver"
            android:exported="true"
            android:permission="com.bhutanmarket.srvtech.NOTIFICATION_PERMISSION"
            tools:replace="android:permission">
            <intent-filter>
                <action android:name="me.carda.awesome_notifications.NOTIFICATION_DISMISSED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
